# ArcGIS Online / Portal origen
ORIGEN_URL=https://your-org.maps.arcgis.com/
ORIGEN_USER=your_origin_user
ORIGEN_PASS=your_origin_password

# ArcGIS Portal destino
DESTINO_URL=https://www.arcgis.com
DESTINO_USER=your_dest_user
DESTINO_PASS=your_dest_password
